/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/_base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}

/* line 17, ../sass/_base.sass */
body {
  font-family: "Arvo", Georgia, Garamond, serif;
  font-weight: 300;
  color: #333332;
  font-size: 21px;
  line-height: 1.8em;
}

/* line 24, ../sass/_base.sass */
a {
  color: #21759b;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
/* line 29, ../sass/_base.sass */
a:hover {
  color: #222222;
  text-decoration: underline;
}

/* line 33, ../sass/_base.sass */
p {
  margin-bottom: 1.8em;
}

/* line 39, ../sass/_base.sass */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* line 42, ../sass/_base.sass */
h1 {
  font-size: 30px;
}

/* line 45, ../sass/_base.sass */
h2 {
  font-size: 45px;
}

/* line 48, ../sass/_base.sass */
pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px dashed #cccccc;
  border: 1px dashed rgba(0, 0, 0, 0.15);
  color: #333333;
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12.025px;
  line-height: 18px;
  margin: 0 0 9px;
  padding: 0 3px 2px;
  padding: 8.5px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

/* line 65, ../sass/_base.sass */
strong {
  font-weight: bold;
}

/* line 68, ../sass/_base.sass */
li {
  line-height: 1.2em;
  margin-bottom: 10px;
}

/* line 72, ../sass/_base.sass */
blockquote {
  border-left: 6px solid #21759b;
  padding-left: 1.4em;
  font-style: italic;
  color: #aaaaaa;
}

/* line 8, ../sass/style.sass */
header {
  margin: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#ffffff 80%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(#ffffff 80%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(#ffffff 80%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#ffffff 80%, rgba(255, 255, 255, 0));
}
/* line 13, ../sass/style.sass */
body.single-post header {
  position: fixed;
  top: 0;
}
/* line 17, ../sass/style.sass */
body.single-post header .container {
  margin: 0 auto;
}
/* line 20, ../sass/style.sass */
body.admin-bar header {
  top: 28px;
}
/* line 23, ../sass/style.sass */
header .container {
  margin: 0 auto;
  padding: 10px 0;
  width: 780px;
}
/* line 28, ../sass/style.sass */
header h1, header p {
  display: inline;
  display: inline-block;
}
/* line 32, ../sass/style.sass */
header h1 {
  font-size: 25px;
  margin-right: 10px;
}
/* line 36, ../sass/style.sass */
header p {
  color: #cccccc;
}

/* line 41, ../sass/style.sass */
.container {
  margin: 30px auto 60px;
  width: 780px;
}
/* line 45, ../sass/style.sass */
body.single-post .container {
  margin-top: 80px;
}

/* line 51, ../sass/style.sass */
article {
  width: 100%;
}
/* line 54, ../sass/style.sass */
body.single-post article {
  overflow: hidden;
  *zoom: 1;
}
/* line 57, ../sass/style.sass */
article .article-wrapper {
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
/* line 61, ../sass/style.sass */
article h2 {
  font-weight: normal;
  line-height: 1.3em;
  margin-left: 180px;
  margin-bottom: 20px;
  width: 600px;
}
/* line 69, ../sass/style.sass */
article h2 small {
  color: #222222;
  display: block;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
}
/* line 76, ../sass/style.sass */
article h2 a {
  text-decoration: none;
}
/* line 79, ../sass/style.sass */
article h3, article h4, article h5 {
  margin: 1.2em 0;
}
/* line 82, ../sass/style.sass */
article h3 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #cccccc;
}
/* line 87, ../sass/style.sass */
article h4 {
  font-size: 1.3em;
}
/* line 90, ../sass/style.sass */
article h5 {
  font-size: 1.1em;
  font-weight: bold;
}
/* line 94, ../sass/style.sass */
article img {
  max-width: 600px;
}
/* line 97, ../sass/style.sass */
article .article-meta {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
  width: 180px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 105, ../sass/style.sass */
body.single-post article .article-meta {
  position: fixed;
}
/* line 108, ../sass/style.sass */
article .article-meta time {
  color: #cccccc;
}
/* line 111, ../sass/style.sass */
article .article-meta #related {
  margin-top: 1.8em;
}
/* line 114, ../sass/style.sass */
article .article-meta #related h5 {
  color: #999999;
  line-height: 1.4em;
  margin-bottom: 1.8em;
}
/* line 119, ../sass/style.sass */
article .article-meta #related li {
  line-height: 1.3em;
  margin-bottom: 1.8em;
}
/* line 123, ../sass/style.sass */
article .article-content {
  border-bottom: 1px dashed #cccccc;
  margin: 0 0 2em 180px;
  padding-bottom: 2em;
  width: 600px;
}
/* line 129, ../sass/style.sass */
article .article-content ol, article .article-content ul {
  margin-bottom: 1.8em;
  padding-left: 3em;
  list-style-type: none;
}
/* line 134, ../sass/style.sass */
article .article-content ol {
  list-style-type: decimal;
}
/* line 137, ../sass/style.sass */
article .article-content ul {
  list-style-type: disc;
}

/* line 142, ../sass/style.sass */
#comments, #disqus_thread {
  margin-left: 180px;
  width: 600px;
}

@media screen and (max-width: 480px) {
  /* line 3, ../sass/_responsive.sass */
  body {
    font-size: 18px;
    padding: 20px;
  }

  /* line 7, ../sass/_responsive.sass */
  .container {
    width: 100%;
  }
  /* line 10, ../sass/_responsive.sass */
  body.single-post .container {
    margin-top: 30px;
  }

  /* line 13, ../sass/_responsive.sass */
  header {
    width: auto;
  }
  /* line 16, ../sass/_responsive.sass */
  body.single-post header {
    position: static;
  }
  /* line 19, ../sass/_responsive.sass */
  header .container {
    border-bottom: 1px dashed #cccccc;
    padding: 0 0 10px 0;
    width: auto;
  }
  /* line 24, ../sass/_responsive.sass */
  header h1 {
    display: block;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  /* line 30, ../sass/_responsive.sass */
  header .tagline {
    display: none;
  }

  /* line 35, ../sass/_responsive.sass */
  article h2 {
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  /* line 42, ../sass/_responsive.sass */
  article img {
    height: 100%;
    width: 100%;
  }
  /* line 46, ../sass/_responsive.sass */
  article .article-meta {
    display: none;
  }
  /* line 49, ../sass/_responsive.sass */
  article .article-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  /* line 55, ../sass/_responsive.sass */
  body.single-post article .article-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /* line 63, ../sass/_responsive.sass */
  #comments, #disqus_thread {
    width: 100%;
  }
}
