@import compass/reset
@import compass/css3

// Constants
$font: 'Helvetica Neue', Helvetica, sans-serif
$headingFont: 'Lato', 'Helvetica Neue', Helvetica, sans-serif

$linkBlue: #21759B
$linkLightBlue: #1b8bff


body
    font-family: $font
    font-weight: 300
    color: #555
    font-size: 19px
    line-height: 1.8em
    word-wrap: break-word
    padding: 20px 0

a
    color: $linkBlue
    text-decoration: none
    +transition(color 0.2s linear)

    &:hover
        color: #222
        text-decoration: underline

p
    margin-bottom: 1.8em

#{headings()}
    font-family: $headingFont
    line-height: 1

    a:hover
        text-decoration: none

h1
    font-size: 30px

h2
    font-size: 45px

pre
    +border-radius(3px)
    border: 1px dashed #ccc
    border: 1px dashed rgba(0, 0, 0, 0.15)
    color: #333333
    display: block
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
    font-size: 12.025px
    line-height: 18px
    margin: 0 0 9px
    padding: 0 3px 2px
    padding: 8.5px
    white-space: pre
    white-space: pre-wrap
    word-break: break-all
    word-wrap: break-word

strong
    font-weight: bold

em
    font-style: italic

li
    line-height: 1.2em
    margin-bottom: 10px

blockquote
    border-left: 6px solid $linkBlue
    padding-left: 1.4em
    font-style: italic
    color: #aaa
