$header-height: 75px
$avatar-height: 48px

@media screen and (max-width: 480px)

    body
        font-size: 18px
        padding: 20px 5px

    #header
        // height: $header-height
        // background-color: #43A8F9
        margin-bottom: 20px
        padding-bottom: 20px
        border-bottom: 1px dashed #ccc

        .text-center
            text-align: left

        h1
            line-height: $avatar-height

        h1, .avatar
            display: inline-block
            vertical-align: top

        .avatar
            width: $avatar-height
            height: $avatar-height
            margin-right: 10px
