/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, _base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
}

/* line 18, _base.sass */
body {
  font-family: Georgia, Garamond, serif;
  color: #222222;
  font-size: 15px;
  line-height: 1.8em;
}

/* line 24, _base.sass */
a {
  color: #21759b;
  text-decoration: none;
}
/* line 28, _base.sass */
a:hover {
  color: #222222;
  text-decoration: underline;
}

/* line 32, _base.sass */
p {
  margin-bottom: 15px;
}

/* line 35, _base.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 39, _base.sass */
h1 {
  font-size: 30px;
}

/* line 42, _base.sass */
h2 {
  font-size: 30px;
}

/* line 45, _base.sass */
pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px dashed #cccccc;
  border: 1px dashed rgba(0, 0, 0, 0.15);
  color: #333333;
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12.025px;
  line-height: 18px;
  margin: 0 0 9px;
  padding: 0 3px 2px;
  padding: 8.5px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

/* line 63, _base.sass */
strong {
  font-weight: bold;
}

/* line 66, _base.sass */
li {
  line-height: 1.2em;
  margin-bottom: 10px;
}

/* line 13, style.sass */
header {
  margin: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#ffffff 80%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(#ffffff 80%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(#ffffff 80%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#ffffff 80%, rgba(255, 255, 255, 0));
}
/* line 18, style.sass */
body.single-post header {
  position: fixed;
  top: 0;
}
/* line 22, style.sass */
body.single-post header .container {
  margin: 0 auto;
}
/* line 25, style.sass */
body.admin-bar header {
  top: 28px;
}
/* line 28, style.sass */
header .container {
  margin: 0 auto;
  padding: 10px 0;
  width: 920px;
}
/* line 33, style.sass */
header h1, header p {
  display: inline;
  display: inline-block;
}
/* line 37, style.sass */
header h1 {
  font-size: 25px;
  margin-right: 10px;
}
/* line 41, style.sass */
header p {
  color: #cccccc;
}

/* line 46, style.sass */
.container {
  margin: 30px auto 60px;
  width: 920px;
}
/* line 50, style.sass */
body.single-post .container {
  margin-top: 80px;
}

/* line 56, style.sass */
article {
  width: 100%;
}
/* line 59, style.sass */
body.single-post article {
  overflow: hidden;
  *zoom: 1;
}
/* line 62, style.sass */
article .article-wrapper {
  overflow: hidden;
  *zoom: 1;
}
/* line 65, style.sass */
article h2 {
  font-weight: normal;
  line-height: 1.3em;
  margin-left: 180px;
  margin-bottom: 20px;
  width: 560px;
}
/* line 73, style.sass */
article h2 small {
  color: #222222;
  display: block;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
}
/* line 80, style.sass */
article h2 a {
  text-decoration: none;
}
/* line 83, style.sass */
article img {
  max-width: 560px;
}
/* line 86, style.sass */
article .article-meta {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-right: 20px;
  width: 180px;
}
/* line 92, style.sass */
body.single-post article .article-meta {
  position: fixed;
}
/* line 95, style.sass */
article .article-meta time {
  color: #cccccc;
}
/* line 98, style.sass */
article .article-meta #related {
  margin-top: 15px;
}
/* line 101, style.sass */
article .article-meta #related h5 {
  color: #999999;
  font-size: 13px;
  line-height: 1.4em;
  margin-bottom: 10px;
}
/* line 107, style.sass */
article .article-meta #related li {
  font-size: 15px;
  line-height: 1.3em;
  margin-bottom: 10px;
}
/* line 112, style.sass */
article .article-content {
  border-bottom: 1px dashed #cccccc;
  float: left;
  margin: 0 180px 10px 0;
  padding-bottom: 10px;
  width: 560px;
}
/* line 119, style.sass */
body.single-post article .article-content {
  margin-left: 180px;
}
/* line 122, style.sass */
article .article-content ol, article .article-content ul {
  font-size: 13px;
  margin-bottom: 15px;
  padding-left: 40px;
  list-style-type: none;
}
/* line 128, style.sass */
article .article-content ol li, article .article-content ul li {
  line-height: 1.7;
}
/* line 131, style.sass */
article .article-content ol {
  list-style-type: decimal;
}
/* line 134, style.sass */
article .article-content ul {
  list-style-type: disc;
}

/* line 140, style.sass */
#comments, #disqus_thread {
  margin: 0 auto;
  width: 560px;
}

@media screen and (max-width: 480px) {
  /* line 3, _responsive.sass */
  body {
    font-size: 18px;
    padding: 20px;
  }

  /* line 7, _responsive.sass */
  .container {
    width: 100%;
  }
  /* line 10, _responsive.sass */
  body.single-post .container {
    margin-top: 30px;
  }

  /* line 13, _responsive.sass */
  header {
    width: auto;
  }
  /* line 16, _responsive.sass */
  body.single-post header {
    position: static;
  }
  /* line 19, _responsive.sass */
  header .container {
    border-bottom: 1px dashed #cccccc;
    padding: 0 0 10px 0;
    width: auto;
  }
  /* line 24, _responsive.sass */
  header h1 {
    display: block;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  /* line 30, _responsive.sass */
  header .tagline {
    display: none;
  }

  /* line 35, _responsive.sass */
  article h2 {
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  /* line 42, _responsive.sass */
  article img {
    height: 100%;
    width: 100%;
  }
  /* line 46, _responsive.sass */
  article .article-meta {
    display: none;
  }
  /* line 49, _responsive.sass */
  article .article-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  /* line 55, _responsive.sass */
  body.single-post article .article-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /* line 63, _responsive.sass */
  #comments, #disqus_thread {
    width: 100%;
  }
}
