<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta property="twitter:account_id" content="110097064" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://{{ site.fqd }}/feed.xml">

        <!-- Custom CSS -->
        <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/build.min.css">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <header id="header" class="col-sm-4">
                    <div class="text-center">
                        <img class="avatar" src="//www.gravatar.com/avatar/0c873b7b06a9c732b52d1c8c6cb58012?s=240" width="120" height="120">
                        <h1>
                            {% if page.url != '/index.html' %}
                                <a href='/'>{{ site.name }}</a>
                            {% else %}
                                {{ site.name }}
                            {% endif %}
                        </h1>
                        <br>
                        <p>Building <a href='http://www.appcues.com' target='_blank'>@Appcues</a>. Early hire at <a>@Performable</a>, acquired by <a>@HubSpot</a>. Self-taught front-end engineer with a BS in Journalism. From Hawaii.</p>
                    </div>
                </header>

                <div class="content col-sm-8">
                    {{ content }}
                </div>
        </div>

        <footer></footer>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics_id }}', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript" src="//fast.appcues.com/23.js"></script>

    </body>
</html>
