---
layout: default
comments: true
---
<article>
    <h2><small>{{ page.category }}</small>{{ page.title }}</h2>
    <div class="article-wrapper">
        <aside class="article-meta">
            <time>{{ page.date | date_to_string }}</time>

            <p class="postmetadata">
                <a href="{{ site.fqd }}{{ page.url }}#disqus_thread" title="Comment on The 500-person Startup">0 Comments</a>
            </p>

        </aside>
        <div class="article-content">
            {{ content }}
        </div>
    </div>
</article>

{% if page.comments %}
    {% include comments.html %}
{% else %}
    <!-- No comments -->
{% endif %}
